{"openapi":"3.0.0","info":{"title":"ORDS generated API for PACIENTE_TURNOS_DV","version":"1.0.0"},"servers":[{"url":"https://gd3a9cb2ba93967-clases2026.adb.sa-bogota-1.oraclecloudapps.com/ords/turnos_medicos/pacientes-turnos"}],"paths":{"/":{"patch":{"description":"PACIENTE_TURNOS_DV","responses":{"200":{"description":"Patched successfully.","content":{"application/json":{"schema":{"type":"object","properties":{"rowsUpdated":{"type":"number"}}}}}}},"parameters":[{"name":"q","in":"query","schema":{"type":"string"},"description":"JSON QBE parameter."}],"requestBody":{"content":{"application/merge-patch+json; charset=utf-8":{"schema":{"$ref":"#/components/schemas/pacientes-turnos_ITEM"}}}}},"delete":{"description":"Remove a record from PACIENTE_TURNOS_DV","responses":{"204":{"description":"Deleted result."}},"parameters":[{"name":"q","in":"query","schema":{"type":"string"},"description":"JSON QBE parameter."}]},"get":{"description":"Retrieve records from PACIENTE_TURNOS_DV","responses":{"200":{"description":"The queried record.","content":{"application/json":{"schema":{"type":"object","properties":{"items":{"type":"array","items":{"allOf":[{"$ref":"#/components/schemas/pacientes-turnos_ITEM"},{"type":"object","properties":{"links":{"type":"array","items":{"type":"object","properties":{"rel":{"type":"string"},"href":{"type":"string"}}}}}}]}},"hasMore":{"type":"boolean"},"count":{"type":"number"},"links":{"type":"array","items":{"type":"object","properties":{"rel":{"type":"string"},"href":{"type":"string"}}}}}}}}}},"parameters":[{"name":"q","in":"query","schema":{"type":"string"},"description":"JSON QBE parameter."}]},"post":{"description":"Create a new record on PACIENTE_TURNOS_DV","responses":{"201":{"description":"The successfully created record.","content":{"application/json":{"schema":{"type":"object","properties":{}}}}}},"parameters":[],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/pacientes-turnos_ITEM"}}}}}},"/batchload":{"post":{"description":"Create new records on PACIENTE_TURNOS_DV","responses":{"200":{"description":"The status of the processed records.","content":{"application/json":{"schema":{"type":"object","properties":{}}}}}},"parameters":[{"name":"batchRows","in":"query","schema":{"type":"integer"},"description":"Number of rows to include in each batch before sending to the database."},{"name":"batchesPerCommit","in":"query","schema":{"type":"integer"},"description":"Number of processed batches before issuing a commit."},{"name":"dateFormat","in":"query","schema":{"type":"string"},"description":"Date format used when parsing incoming values."},{"name":"delimiter","in":"query","schema":{"type":"string"},"description":"Field delimiter used for delimited batchload payloads."},{"name":"embeddedRightDouble","in":"query","schema":{"type":"boolean"},"description":"Whether doubled right enclosures are treated as escaped enclosure characters."},{"name":"enclosures","in":"query","schema":{"type":"string"},"description":"One or two characters used as left and right value enclosures."},{"name":"encoding","in":"query","schema":{"type":"string"},"description":"Character encoding used to read the incoming payload."},{"name":"errors","in":"query","schema":{"type":"string"},"description":"Number of row errors to allow before aborting the load. Supports UNLIMITED."},{"name":"lineEnd","in":"query","schema":{"type":"string"},"description":"Line terminator used for delimited batchload payloads."},{"name":"lineMax","in":"query","schema":{"type":"string"},"description":"Maximum allowed line length. Supports UNLIMITED for no explicit limit."},{"name":"locale","in":"query","schema":{"type":"string"},"description":"Locale used when parsing localized date and number values."},{"name":"responseEncoding","in":"query","schema":{"type":"string"},"description":"Character encoding used for the batchload response body."},{"name":"responseFormat","in":"query","schema":{"type":"string"},"description":"Response format for loader diagnostics. Supported values include RAW and SQL."},{"name":"timestampFormat","in":"query","schema":{"type":"string"},"description":"Timestamp format used when parsing incoming values."},{"name":"timestampTZFormat","in":"query","schema":{"type":"string"},"description":"Timestamp with time zone format used when parsing incoming values."},{"name":"truncate","in":"query","schema":{"type":"string"},"description":"Controls whether existing rows are removed before the load. Value true performs transactional DELETE. Value truncate performs TRUNCATE TABLE (DDL), which auto-commits and does not fire DELETE triggers."}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/pacientes-turnos_ITEM"}}},"application/json; boundary=NL":{"schema":{"description":"JSON items separated by new lines."}}}}}},"/{id}":{"patch":{"description":"PACIENTE_TURNOS_DV","responses":{"200":{"description":"Patched successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pacientes-turnos_ITEM"}}}}},"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","pattern":"^[^/]+$"},"description":"Primary key(s):  _id"}],"requestBody":{"content":{"application/merge-patch+json; charset=utf-8":{"schema":{"$ref":"#/components/schemas/pacientes-turnos_ITEM"}}}}},"put":{"description":"Create or update a record on PACIENTE_TURNOS_DV","responses":{"201":{"description":"The successfully created record.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pacientes-turnos_ITEM"}}}},"200":{"description":"The successfully updated record.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pacientes-turnos_ITEM"}}}}},"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","pattern":"^[^/]+$"},"description":"Primary key(s):  _id"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/pacientes-turnos_ITEM"}}}}},"get":{"description":"Retrieve a record from PACIENTE_TURNOS_DV","responses":{"200":{"description":"The queried record.","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/pacientes-turnos_ITEM"},{"type":"object","properties":{"links":{"type":"array","items":{"type":"object","properties":{"rel":{"type":"string"},"href":{"type":"string"}}}}}}]}}}}},"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","pattern":"^[^/]+$"},"description":"Primary key(s):  _id"}]},"delete":{"description":"Remove a record from PACIENTE_TURNOS_DV","responses":{"204":{"description":"Deleted result."}},"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","pattern":"^[^/]+$"},"description":"Primary key(s):  _id"}]}}},"components":{"schemas":{"pacientes-turnos_ITEM":{"properties":{"_metadata":{"properties":{"etag":{"type":"string","maxLength":200},"asof":{"type":"string","maxLength":20}}},"cedula":{"type":"string","maxLength":20},"nombre":{"type":"string","maxLength":100},"_id":{"type":"number","x-ords-primary-key":"true"},"turnos":{"type":"array","items":{"properties":{"hora":{"type":"string","maxLength":10,"nullable":true},"fecha":{"type":"string","format":"date-time"},"estado":{"type":"string","maxLength":20,"nullable":true},"idTurno":{"type":"number"},"medico":{"type":"array","items":{"properties":{"nombre":{"type":"string","maxLength":100},"idMedico":{"type":"number"}}}}}}}}}}}}